@page
@model MathSummaries.Pages.Units.Unit3Model
@{
    ViewData["Title"] = "Unit 3";
}

<h1 style="font-family: 'Supermercado One', cursive;">@ViewData["Title"]</h1>

<p>In this Unit, we learned how to graph, find the equation of, and solve piecwise functions. We also learned how to find the degree of, evaluate, solve, and eyeball the shape of polynomial funcitons. Lastly we learned how to determine, graph, simplify, and solve, radical & rational functions.</p>

<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <img src="https://i.ytimg.com/vi/kSMR58mUPcU/maxresdefault.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title normal">Piecewise Functions</h5>
                    <p class="card-text">
                        We learned how to graph, find the equation of, and solve piecewise functions. A piecewise function is a combinaiton of several functions to make up one overall function. Based on what your "X" value is you will solve for one of the different functions, using previous knowledge.
                        <br />
                        <br />
                        <br />
                        <strong>Examples</strong>-
                        <br />
                        <br />
                        <img src="https://www.mathsisfun.com/sets/images/function-piecewise-b1.gif" alt="" />
                        <br />
                        <br />
                        This means that when x is less than 2 the function is f(x) = x<sup>2</sup>, when its equal to 2 the function is f(x) = 6, and when it is greater than two and less than or equal to 6 the function is f(x) = 10-x.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <img src="https://i.ytimg.com/vi/a5x4lwnvHM0/maxresdefault.jpg" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title normal">Polynomial Functions</h5>
                    <p class="card-text">
                        We learned how to identify different kinds of polynomail functions and find their degree. We also learned how to evaluate, solve, and figure out their general shape.
                        <br />
                        <br />
                        <br />
                        <strong>Different kinds & Degree's</strong>- A polynomial can be a monomial (mono meaning one), a binomial (bi meaning two), a trinomial (tri meaning three), and a polynomail (poly meaning many). This is based off of how many terms are in the functions, if there is one term it is a monomial, if it has 2 terms it is a binomial, if it has three terms it is a trinomial, and if it has four or more terms it is a polynomial.
                        <br />
                        <br />
                        The degree of a polynomial is the number that is the highest exponenet in the function.
                        <br />
                        <br />
                        <strong>Examples</strong>-
                        <br />
                        f(x) = x<sup>5</sup>+x<sup>3</sup> --> this would be a binomial with a degree of 5
                        <br />
                        <br />
                        f(x) = x<sup>6</sup>+x<sup>7</sup>+x<sup>3</sup> --> this would be a trinomial with a degree of 7  
                        <br />
                        <br />
                        <strong>Solving</strong>- To solve a polynomial (find the roots), set f(x) to zero and then use the different strategies learned in previous units to solve. 
                        <br />
                        <br />
                        <strong>Examples</strong>-
                        <br />
                        f(x) = x(x+5)<sup>3</sup>(x-3)<sup>2</sup>(x+4)<sup>3</sup>(x-1) --> x = 0,-5,3,-4, and 1
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">

                <img src="https://sites.google.com/a/mercyhsb.com/asc/_/rsrc/1321299354124/radical-functions/graph%201.JPG" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title normal">Radical Functions</h5>
                    <p class="card-text">
                        A radical function is a function with a certain expresion where there is a variable under the radical. We learned how to graph and solve radical functions.
                        <br />
                        <br />
                        <br />
                        <strong>Graphing</strong>- To graph a radical function you make a table of values and plot the points that are relevant.
                        <br />
                        <br />
                        <br />
                        <strong>Solving</strong>- To solve a radical function you need to take everything that is out side of the radical and move it to one side and the radical and everything under it on one side, then you square both sides and solve the resulting equation. (make sure not to remove any of the x's)
                        <br />
                        <br />
                        <br />
                        <strong>Examples</strong>-
                        <br />
                        4 = √x --> 16 = x
                        <br />
                        <br />
                        4+x = √3x --> (4+x)<sup>2</sup> = 3x --> x<sup>2</sup>+8x+16 = 3x
                        <br />
                        After this point solve the equation regularly
                        </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <img src="https://s3-us-west-2.amazonaws.com/courses-images/wp-content/uploads/sites/1861/2017/06/23162054/fjpfzpgotramlun1ooem.png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title normal">Rational Functions</h5>
                    <p class="card-text">A rational function is a function with a certain expression where there is a variable in the denominator. We learned how to graph and solve rational functions</p>
                    <br />
                    <br />
                    <br />
                    <strong>Graphing</strong>- To graph a rational function you make a table of values and plot the points, then you find the assymtotes by checking when the expression in the denominator equals 0.
                    <br />
                    <br />
                    <br />
                    <strong>Solving</strong>- To solve a rational function you need to multiply both sides of the equal sign with the expression in the denominator, so you can move the variable to the numerator and then you solve the resulting equation.
                    <br />
                    <br />
                    <br />
                    <strong>Examples</strong>-
                    <br />
                    4 = 1/x --> 4x = 1 --> x = 1/4
                    <br />
                    <br />
                    4x+7 = 4/x<sup>2</sup>-5 --> 4x<sup>3</sup>+28x = 4 --> 4x<sup>3</sup>+28x-4 = 0
                    <br />
                    From here use your calculator or solve by graphing
                </div>
            </div>
        </div>

    </div>
</div>