html {
    font-size: 14px;
    --nav-clr: #e3f2fd;
    --background-clr: white;
    --text-clr: black;
    --nav-text: invert(0);
    --card-clr: white;
    --clr-success: #198754;
    --clr-info: #0dcaf0;
    --clr-danger: #dc3545;
}

    html[theme="darkmode"] {
        --nav-clr: #042747;
        --background-clr: black;
        --text-clr: white;
        --nav-text: invert(1);
        --card-clr: #1c2233;
        --clr-success: #0c4329;
        --clr-info: #066578;
        --clr-danger: #74141d;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--background-clr);
    color: var(--text-clr);
}

.nav-link{
    filter: var(--nav-text);
}

.navbar-brand{
    filter: var(--nav-text);
}




a {
    text-decoration: none;
}

.card {
    margin: 15px;
    max-width: 25rem;
    background-color: var(--card-clr);
    color: var(--text-clr);
}

.card-title:not(.normal) {
    font-size: xx-large;
    color: white;
    font-family: 'Supermercado One', cursive;
}

.card-text:not(.normal){
    color: white;
}

h1 {
    font-family: 'Supermercado One', cursive;
}

@media (max-width: 575.98px) {
    .card {
        margin: 5px;
        max-width: 50rem;
    }
}

header {
    background-color: var(--nav-clr);
    color: var(--text-clr);
}

.success-card {
    background-color: var(--clr-success);
}

.info-card{
    background-color: var(--clr-info);
}

.danger-card {
    background-color: var(--clr-danger);
}