html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
    text-decoration: none;
}

.card {
    margin: 15px;
    max-width: 25rem;
}

.card-title:not(.normal) {
    font-size: xx-large;
    color: white;
    font-family: 'Supermercado One', cursive;
}

.card-text:not(.normal){
    color: white;
}

h1 {
    font-family: 'Supermercado One', cursive;
}

@media (max-width: 575.98px) {
    .card {
        margin: 5px;
        max-width: 50rem;
    }
}

.dark-mode {
    filter: invert(1);
    background-color:  black;
}

.uninvert {
    filter: invert(1);
}

.navbar {
    background-color: #e3f2fd;
}