@page
@model MathSummaries.Pages.ComingSoonModel
@{
    ViewData["Title"] = "Coming Soon!";
}

<h1>@ViewData["Title"]</h1>

<p>Return to this site after the Unit is over to find the summary for it.</p>
