@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="card-group">

        <a href="/Comingsoon" class="card text-dark bg-success mb-3 un-inverted">
            <div class="card-body">
                <h5 class="card-title">Unit 4</h5>
                <p class="card-text">Coming Soon!</p>
            </div>
        </a>

        <a href="/Units/Unit3" class="card text-dark bg-info mb-3 un-inverted">
            <div class="card-body">
                <h5 class="card-title">Unit 3</h5>
                <p class="card-text">Piecewise, Polynomial, Radical, and Rational Functions</p>
            </div>
        </a>

        <a href="/Units/Unit2" class="card text-dark bg-danger mb-3 un-inverted">
            <div class="card-body">
                <h5 class="card-title">Unit 2</h5>
                <p class="card-text">Radicals & Quadratics</p>
            </div>
        </a>


    </div>

</div>
