@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="card-group">

        <a href="/Comingsoon" class="card text-dark success-card mb-3 un-inverted" id="Unit4" style="color: black;">
            <div class="card-body">
                <h5 class="card-title">Unit 4</h5>
                <p class="card-text">Coming Soon!</p>
            </div>
        </a>

        <a href="/Units/Unit3" class="card text-dark info-card mb-3 un-inverted" id="Unit3">
            <div class="card-body">
                <h5 class="card-title">Unit 3</h5>
                <p class="card-text">Piecewise, Polynomial, Radical, and Rational Functions</p>
            </div>
        </a>

        <a href="/Units/Unit2" class="card text-dark danger-card mb-3 un-inverted" id="Unit2">
            <div class="card-body">
                <h5 class="card-title">Unit 2</h5>
                <p class="card-text">Radicals & Quadratics</p>
            </div>
        </a>


    </div>

</div>
