@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I do not keep any of your data at all absolutely none of it, cause I don't know how to and I don't have anything to benifit from doing it</p>
